.signup-form-form {
  max-width: 23rem;
  margin: 0 auto;
}
#signinup-form {
  max-width: 75rem;
}
.signup-form-form {
  max-width: 23rem;
  margin: 0 auto;
}
.card {
  overflow: hidden;
}
.vcenter{
    display: flex;
    align-items: center;
    justify-content: center;
}